/build
doc/2008-05-15_neuer_galserve.txt
doc/Abschluss[!!-~]1[!!-~]2.6.2009.pdf
doc/Abschluss[!!-~]1[!!-~]2009-06-02.txt
doc/Abschluss[!!-~]2[!!-~]2.6.2009.pdf
doc/Abschluss[!!-~]2[!!-~]2009-06-02.txt
doc/Abschluss[!!-~]2.6.2009.pdf
doc/Anpassungen[!!-~]Kasse[!!-~]f?r[!!-~]Kundenkarten[!!-~]ab[!!-~]Version[!!-~]Galileo[!!-~]1_3_24.doc
doc/Anpassungen[!!-~]Kasse[!!-~]für[!!-~]Kundenkarten[!!-~]ab[!!-~]Version[!!-~]Galileo[!!-~]1_3_24.doc
doc/Auswertungen.doc
doc/Beschreibung[!!-~]f?rCode128_Etiketten_NEU.doc
doc/Beschreibung[!!-~]fürCode128_Etiketten_NEU.doc
doc/Bugs[!!-~]Untertor.doc
doc/ColibriTS[!!-~]Build[!!-~]191[!!-~]17_01_2008.doc
doc/Datenbankstruktur.doc
doc/Datenmigration[!!-~]von[!!-~]MySQL[!!-~]Version[!!-~]4[!!-~]auf[!!-~]Version[!!-~]5.doc
doc/Datenquellenname.doc
doc/Datenquellenname.zip
doc/Der[!!-~]Import[!!-~]von[!!-~]Belegen[!!-~]in[!!-~]ColibriTS.doc
doc/Dokumentation[!!-~]transfer.doc
doc/Dokumentation[!!-~]transfer.dtd
doc/Handbuch[!!-~]Administrator[!!-~]II.pdf
doc/Handbuch[!!-~]Datenbank.pdf
doc/IMS[!!-~]Memo.doc
doc/ImsAdm[!!-~]Abonnementverwaltung.doc
doc/Installation[!!-~]?berblick.doc
doc/Installation[!!-~]ColibriTS[!!-~](provisorische[!!-~]Version).pdf
doc/Installation[!!-~]ColibriTS.doc
doc/Installation[!!-~]Überblick.doc
doc/Kasse[!!-~]starten.doc
doc/Konfiguration.pdf
doc/Konfigurationen[!!-~]V1.doc
doc/Kundenkarte.odt
doc/Kundenkarten[!!-~]Kundeninfo[!!-~]Version[!!-~]3_0[!!-~]Konzept.pdf
doc/Migration.doc
doc/Mit[!!-~]Code128[!!-~]ohne[!!-~]Galileo.doc
doc/Problem[!!-~]Kunde[!!-~]und[!!-~]Abholfach.doc
doc/Probleme[!!-~]Build[!!-~]228.txt
doc/Probleme[!!-~]Kassenbeleg[!!-~]und[!!-~]Eintr?ge[!!-~]in[!!-~]Galserve.doc
doc/Probleme[!!-~]Kassenbeleg[!!-~]und[!!-~]Einträge[!!-~]in[!!-~]Galserve.doc
doc/Probleme[!!-~]bei[!!-~]der[!!-~]Nutzung[!!-~]der[!!-~]Kassen.doc
doc/Rechnung.txt
doc/Test[!!-~]C128.doc
doc/Test[!!-~]Failover[!!-~]Build[!!-~]183.doc
doc/Test[!!-~]ImportTool[!!-~]Version[!!-~]0_4.doc
doc/Test4_03062009_1315.pdf
doc/Tests[!!-~]Belegviewer[!!-~]ColibiTS.doc
doc/Tests[!!-~]Build[!!-~]313[!!-~]und[!!-~]Kundenserver.doc
doc/Tests[!!-~]ColibriTS[!!-~]Build[!!-~]187[!!-~]importtool.doc
doc/Tests[!!-~]Hilfsfunktion[!!-~]Galileo.doc
doc/Tests[!!-~]ImportTool[!!-~][!!-~]Version[!!-~]0_3.doc
doc/Tests[!!-~]diverse[!!-~]Verbuchungen[!!-~]Build[!!-~]193.doc
doc/Tests[!!-~]mit[!!-~]Abschussreihenfolge.doc
doc/Was[!!-~]ist[!!-~]neu[!!-~]in[!!-~]ColibriTS[!!-~]Version[!!-~]1.6.pdf
doc/Zusammenstellung[!!-~]Erweiterungen[!!-~]Kasse[!!-~]ColibriTS[!!-~]Build[!!-~]316[!!-~]und[!!-~]Galileo[!!-~]1_7_6.pdf
doc/code128.txt
doc/colibri_untertor_20041027.zip
/export
/import
/lock
/log
/old
/queries
/runtime
/save
src/ch/eugster/pos/product/package.html
/templates
win32/galileo/SQL
win32/galileo/VFP
win32/galileo/galserver1.dll
win32/galileo/wgserver1.dll
